/* Définir des polices personnalisées */

@font-face {
    font-family: 'Calibri';
    src: url('../font/calibri.ttf') format('truetype');
}

@font-face {
    font-family: 'Tytoon_mist';
    src: url('../font/tytoon_mist.ttf') format('truetype');
}

@font-face {
    font-family: 'Zorque';
    src: url('../font/zorque.otf') format('opentype');
}


/* Styles globaux pour l'ensemble de la page */


/* Réinitialiser les marges et les espacements pour tous les éléments */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 1;
}


/* Styles du corps de la page */

body {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/img_site/fond-wide-1200px.gif);
    background-color: black;
    font-family: 'Calibri', sans-serif;
    color: black;
}


/* Conteneur de la page */

.page {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1200px;
}


/* Styles de la section du titre */


/* Conteneur du titre */

.titre {
    margin-block: 2em;
    width: 70%;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titre img {
    width: 175px;
    margin-right: 10px;
}

.titre h1 {
    font-family: 'Zorque', sans-serif;
    font-size: 60px;
    text-decoration: none;
    margin: 0;
}

.titre a {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* Supprime le soulignement*/
    color: #092435;
}


/* Styles de la section d'authentification */


/* Conteneur d'authentification */

.authentification {
    width: 30%;
    height: 200px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Styles du formulaire d'authentification */

.authentification form {
    text-align: right;
    align-items: center;
}


/* Styles de la case bleue d'authentification */

.case_bleu {
    background-color: #4494cb;
    padding-inline: 5em;
    padding-block: 1em;
    margin: 0.5em;
}


/* Styles du conteneur de boutons */

.boutons-container {
    display: flex;
    /* Affiche les boutons en ligne */
    justify-content: space-between;
    /* Espace équitablement les boutons */
}


/* Styles pour la section du contenu */


/* Conteneur du contenu */

.contenu {
    width: 70%;
    height: 500px;
    float: left;
    overflow-y: auto;
    max-height: 500px;
    text-align: center;
}


/* Styles pour les cases de commande dans chaque catégorie */


/* Conteneur des images */

.images-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}


/* Boîte de jeu individuelle */

.jeu-box {
    width: 300px;
    height: 150px;
    display: flex;
    border-radius: 50% 0 0 50%;
    background: linear-gradient(#FFF, #d8d8d8);
    margin: 1em;
    padding: 0.5em;
    align-items: center;
}


/* Image de jeu */

.jeu-img {
    max-width: 120px;
    max-height: 150px;
    margin-right: 20px;
    /* Espace entre l'image et le texte */
}


/* Texte associé à l'image */

.texte {
    display: flex;
    flex-direction: column;
    text-align: start;
}


/* Libellé de l'image et du prix */

.image-item h3 {
    font-family: 'Zorque', sans-serif;
    /* Police pour le libellé et le prix */
}


/* Prix de l'article */

.prix {
    font-family: 'Zorque', sans-serif;
    /* Police pour le libellé et le prix */
    color: #4494cb;
}


/* Styles pour la page des choix de catégorie dans le contenu */


/* Style pour chaque catégorie */

.categorie {
    display: inline-block;
    margin-inline: 15px;
    text-align: center;
    font-family: 'Zorque', sans-serif;
    font-size: 20px;
}


/* Style pour le cercle de chaque catégorie */

.cercle {
    width: 9em;
    height: 9em;
    border-radius: 50%;
    background-color: #4494cb;
    text-align: center;
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin-inline: 1.5em;
}


/* Style pour survoler le cercle de chaque catégorie */

.cercle:hover {
    background-color: #092435;
}


/* Style pour l'image à l'intérieur du cercle */

.cercle img {
    max-width: 7em;
    max-height: 7em;
    margin-top: 1.1em;
    vertical-align: middle;
}

.categorie-image {
    margin-top: 1em;
}

.epees-image {
    margin-top: 2.5em;
    vertical-align: middle;
}


/* Styles pour la section du panier */


/* Conteneur du panier */

.panier {
    width: 30%;
    height: 500px;
    float: left;
    box-sizing: border-box;
    overflow-y: auto;
}

.panier-item {
    display: flex;
    justify-content: space-between;
}

.nom-jeu {
    text-align: left;
    margin-bottom: 5px;
}

.prix-quantite {
    text-align: right;
}

.panier-container {
    position: relative;
    padding-bottom: 60px;
}


/* Styles pour les sous-paniers dans le panier */

.sous_panier {
    background: linear-gradient(#FFF, #d8d8d8);
    margin: 1%;
    border: 2px solid black;
}


/* Styles pour les images à l'intérieur des sous-paniers */

.sous_panier {
    background: linear-gradient(#FFF, #d8d8d8);
    margin: 1%;
    border: 2px solid black;
}

.sous_panier img {
    width: 20%;
}


/* Styles pour les titres des sous-paniers */

.sous_panier h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Styles pour les boutons */


/* Style de base pour les boutons */

.bouton {
    background-color: #fff;
    height: 36px;
    border-bottom: 2px solid #092435;
    padding: 3px 10px 3px 10px;
    margin: 3px 10px 3px 10px;
    font-family: 'tytoon_mist', sans-serif;
    font-weight: normal;
    font-size: 26px;
    color: #092435;
}


/* Style au survol du bouton */

.bouton:hover {
    background-color: #092435;
    border-bottom: 2px solid #fff;
    color: #fff;
}

.vider-panier-bouton {
    position: absolute;
    width: 100%;
    /* Ajustez cette valeur selon vos besoins */
    font-size: 16px;
    text-align: center;
}


/* style du pied de page */

.pied_de_page {
    width: 100%;
    height: 50px;
}

.pied_de_page a {
    text-decoration: none;
    color: #092435;
}


/* Media query pour les écrans dont la largeur est inférieure ou égale à 750 pixels */

@media screen and (max-width: 750px) {
    body {
        background-size: cover;
        /* Ajuste la taille de l'arrière-plan pour couvrir l'écran */
        background-color: transparent;
        /* Fond transparent */
    }
    /* Ajustements de largeur pour certains éléments */
    .titre,
    .authentification,
    .contenu,
    .panier {
        width: 100%;
        /* Largeur à 100% pour ces éléments */
    }
    /* Ajustement de la largeur de l'image dans le titre */
    .titre img {
        width: 100px;
        /* Largeur de l'image à 100 pixels */
    }
    /* Ajustement de la taille de la police dans le titre */
    .titre {
        font-size: 40px;
        /* Taille de la police à 40 pixels */
    }
}