header{
	background-color: #558855;
	width: 600px;
	height: 50px;
}

.menu{
	background-color: #FFAAAA;
	width: 100px;
	height: 400px;
	float: left;
	
}

.contenu{
	background-color: #FFFFCC;
	width: 500px;
	height: 400px;
	float: left;
}

footer{
	background-color: #558855;
	width: 600px;
	height: 50px;
	clear : both;
}
border-color