body
{
	font-family: 'NotReally', sans-serif;
}

table {
 border-collapse: collapse;
}

@font-face {
  font-family: 'NotReally';
  src: url('fonts/NotReally.ttf') format('truetype');
}

