body
{
	background-color:#333;
}

*{
	margin: 0;
	padding: 0;
}

.page {
	display:flex;
	flex-wrap:wrap;
	margin:auto;
	max-width:1200px;
}

.head{
	background-color: #c0d4e7;
	width: 70%;
	height: 50px;
	float: left;
}

.authentification{
	background-color: #4494cb;
	width: 30%;
	height: 50px;
	float: left;
	
}

.contenu{
	background-color: #c0d4e7;
	width: 70%;
	height: 500px;
	float: left;

}


.panier{
	
	background: linear-gradient(#FFF, #d8d8d8);
	width: 30%;
	height: 500px;
	float: left;
}

@media screen and (max-width: 900px)
{
	
	.head{
		width: 100%;
	}

	.authentification{
		width: 100%;
	}

	.contenu{
		width: 100%;
		height: 300px;
	}

	.panier{
		width: 100%;
		height: 300px;
	}

	
}

